.DS_Store
.DS_STORE
*.log
*.log.*

.idea

node_modules
nohup.out
mongo_db

.nyc_output
dist
coverage
test-reports.xml
test_sandbox.py
docker-compose.yml

debug.txt
push.txt
prev.txt
*.pyc
debug_latest.txt

email.txt

